

nav {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    background-color: white;
}

h1 {
    color: #5f737f;

}

p {
    color: #5f737f;

}

.standard-font {
    font-family: "Bakbak One";
}

.nav-link {
    border-radius: 20px 20px 20px 20px;
    color: #5f737f;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.navbar-toggler {
    margin: 10px;
}

.nav-link:hover {
    border-radius: 20px 20px 20px 20px;
    background-color: #cee6f3;
    color: #2b53ff;
}

.services-about-button {
    color: white;
    border-radius: 15px 15px 15px 15px;
    background-color: #2b53ff;
    padding: 10px;
    text-decoration: none;
    transition: all .25s;
}

.services-about-button:hover {
    background-color: #5271ff;
}

.card {

    border-color: #5f737f;
    border-radius: 15px;
    transition: all .25s;

}

.card:hover {
    scale: 1.05;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}